<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lí sách</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Thêm sách mới</h1>
    <div class="col-md-auto">
        <form th:object="${book}" action="/saveBook" method="post">
            <input type="hidden" th:field="*{id}">
            <div>
                <label>Tên</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Tên" required
                       oninvalid="this.setCustomValidity('Vui lòng nhập tên sách')"
                       oninput="this.setCustomValidity('')"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label>Năm xuất bản</label>
                <input type="text" th:field="*{public_year}" class="form-control" placeholder="Năm xuất bản"
                       required
                       oninvalid="this.setCustomValidity('Vui lòng nhập năm xuất bản')"
                       oninput="this.setCustomValidity('')"/>
            </div>
            <div th:each="author : ${author}" >
                <input type="checkbox" th:value="${author.id}" th:field="*{authorList}">
                <label th:text="${author.name}"></label>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Thêm sách"/>
        </form>
    </div>
</div>
</body>
</html>